.drum-pad {
    display:flex;
    justify-content: center;
    align-items: center;
    background:#8d8d8d;
    font-weight:bold;
    box-shadow: black 3px 3px 5px;
    border-radius:5px;
    cursor:pointer;
}